<link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
<navbar>
  <ul>
    <li><%= link_to "LOGIN/OUT", '/' %></li>
    <li><%= link_to "My FB Events", '/auth/facebook' %></li>
    <li><%= link_to "NotFB Events", '/saved/index' %></li>
  </ul>
</navbar>
<%= image_tag "notfb.png" %>

<script type="text/javascript">
     listEvents();
</script>
<div id="container">
  <div id="eventsin">

  </div>
</div>
