<link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
<navbar>
  <ul>
    <li><%= link_to "LOGIN/OUT", '/' %></li>
    <li><%= link_to "My FB Events", '/auth/facebook' %></li>
    <li><%= link_to "NotFB Events", '/saved/index' %></li>
  </ul>
</navbar><h1>Saved#index</h1>
<p>Find me in app/views/saved/index.html.erb</p>

<script type="text/javascript">
     listEvents();
</script>

<h1>hello world</h1>

<div id="container">
<ul id="events">


</ul>
</div>
