



<div class="Aligner">
  <div class="Aligner-item Aligner-item--top">  <%= image_tag "notfacebook.png" %></div>
  <div class="Aligner-item">

<script type="text/javascript">
     listEvents();
</script>
<div id="container">
  <div id="eventsin">
  </div>
</div>

</div>
