<%= image_tag "notfb.png" %>
<h1>NOT FACEBOOK</h1>

<h2>Not facebook is an application to post your facebook events onto the notfacebook site</h2>
<ol>
  <li><h3><%= link_to "Login", auth_provider_path %> to facebook to look over your rsvp'd events</h3></li>
  <li><h3>Select the events you would like to save onto our site</h3></li>
  <li><h3>View a complete list of events saved to our site</li>
</ol>
<!-- <button id="test">Test AJAX</button> -->


